<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.CodeActions" version="1.0.0-beta1-20141031-01" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-beta1-20141031-01" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.EditorFeatures.Text" version="1.0.0-beta1-20141031-01" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Features" version="1.0.0-beta1-20141031-01" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0-beta1-20141031-01" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.32-beta" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.17-beta" targetFramework="net45" />
  <package id="VSSDK.CoreUtility" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.CoreUtility.14" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.Editor" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.Editor.14" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE.14" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.IDE.8" version="8.0.4" targetFramework="net45" />
  <package id="VSSDK.OLE.Interop" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.Interop" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.Text" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.Text.14" version="14.0.4-preview" targetFramework="net45" />
  <package id="VSSDK.TextManager.Interop" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.TextManager.Interop.8" version="8.0.4" targetFramework="net45" />
</packages>